.order-placed {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #74E291;
}

.main {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    align-items: center;



}

.pdhead {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    position: relative;
    display: flex;

}

.pdhead img {
    width: 100px;
    height: 100px;

}

.pdhead h1 {
    margin-top: 4%;
    margin-left: 6%;
    color: blue;
}

.verificationbox {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 10%;
    background-color: green;
    border: none;
    z-index: 0;


}

.verificationpage img {
    margin-top: 10%;
    width: 350px;
    z-index: -1;
    height: 200px;
    border-radius: 60%;
    position: absolute;

}