.order-placed {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bfffaf;

}

.main2 {

    text-align: center;
    align-items: center;
    background-color: #bfffaf;

}


.logoback {

    width: 500px;
    height: 300px;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 50%;
    opacity: 0.1px;

    z-index: 1;
    position: relative;


}

.logoback img {

    width: 500px;
    height: 350px;
    border-radius: 50%;
    filter: opacity(0.1);



}

.verificationbox {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 28%;
    margin-top: 13%;
    background: transparent;
    border: none;
    z-index: 2;
    position: absolute;


}

.verificationbox img {
    width: 220px;
    height: 220px;
    filter: opacity(1);


}

.botext {
    margin-left: 3%;
}